# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

.vscode/
.idea/
*.swp

.DS_Store

data/
checkpoints/
docs/
NOTES.md
outputs/runs/toy_run_trec
code/testing/

outputs/logs/
*.json
*.jsonl

.archived/
code/baselines/reasonir_repo/
outputs/runs/reasonir-8b/

benchmarks.csv
ReasonIR-8B-QUEST
GritLM-7B-QUEST
Promptriever-7B-QUEST
outputs/runs/gritlm-7b/GritLM-7B-QUEST_withVariants
outputs/runs/promptriever-7b/Promptriever-7B-QUEST_withVariants 
outputs/runs/reasonir-8b/ReasonIR-8B-QUEST_withVariants
/code/evaluation/EVALUATION_NOTES.md

outputs/runs/

Contriever-QUEST

*.md