# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

.vscode/
.idea/
*.swp

.DS_Store

data/
checkpoints/
docs/
NOTES.md
outputs/runs/toy_run_trec
code/testing/

outputs/logs/
*.json
*.jsonl

.archived/
code/baselines/reasonir_repo/
outputs/runs/reasonir-8b/